body {
    margin: 0px;
    /*font-size: 24px;*/
    font-family: Montserrat, Roboto, Arial, sans-serif;
    color: LightGray;
}

/* Headings */

h1 {
    margin: 0px;
    padding: 8px 0px 8px 0px;
    text-align: center;
    font-size: 72px;
    color: LightGray;
}

h2 {
    margin: 0px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 36px;
    color: LightGray;
}

h4 {
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    color: LightGray;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

#navbar a {
    float: left;
    display: block;
    color: LightGray;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #f2f2f2;
    color: #333;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#pagetopview {
    height: 90vh;
    background-image: url("Media/wings.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#maintitle {
    padding: 0px 0px 5vh 0px;
}

#mainBody {
    /*background-color: #566B73;*/
    /*background-color: #A98E83;*/
    background-color: #895640;
}

.contentbox {
    margin: 40px;
    padding: 40px;
    font-size: 16px;
    line-height: 2em;
    
    /* Black background colour*/
    background-color: #1B1B1B;
}

.contentbox a {
    color: #B9BDE4;
}

.footer {
    padding: 20px;
    text-align: center;
    
    /* Black background colour*/
    background-color: #333;
}

.footer a {
    color: #B9BDE4;
}

#footerTitle {
    font-weight: bold;
    font-size: 20px;
}

.footerContent {
    display: inline;
    padding: 20px;
}