body {
    margin: 0px;
    font-family: Montserrat, Roboto, Arial, sans-serif;
    /*color: #333333;*/
    color: #4F4645;
}

/* Headings */

h1 {
    margin: 0px;
    padding: 8px 0px;
    text-align: center;
    font-size: 72px;
    color: White;
}

h2 {
    margin: 0px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 36px;
    color: #4F4645;
}

h3 {
    color: #4F4645;
}

h4 {
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-size: 32px;
    color: White;
    font-weight: 300;
}

#navbar {
    overflow: hidden;
    background-color: White;
    position: sticky;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
}

.navbarLink a {
    float: right;
    display: block;
    text-align: center;
    padding: 20px;
    color: #4F4645;
    text-decoration: none;
}

.navbarLink a:hover {
    background-color: #F2A55F;
    color: White;
}

.navbarLinkCurrent a {
    float: right;
    display: block;
    text-align: center;
    padding: 20px 20px 16px 20px;
    color: #4F4645;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 4px;
    border-color: #F2A55F;
}

.navbarLinkCurrent a:hover {
    background-color: #F2A55F;
    color: White;
}

.stickyTop {
    position: fixed;
    top: 0;
    width: 100%;
}

.stickyBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logo {
    float: left;
    padding: 20px;
    color: #F2A55F;
    font-weight: bold;
}

#logo a {
    color: #F2A55F;
    text-decoration: none;
}

#pagetopview {
    height: 90vh;
    background-image: url("Media/wings.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#maintitle {
    padding: 0px 0px 40vh 0px;
}

.separationBanner {
    margin: 40px 0px 0px 0px;
    border-bottom-style: solid;
    border-width: 4px;
    border-color: #F2A55F;
}

#mainBody {
    background-color: White;
}

.contentContainerWhite {
    font-size: 16px;
    line-height: 2em;
    padding: 80px 0px;
    /*text-align: justify;
    text-justify: inter-word;*/
}

.contentContainerWhite a {
    color: #F2A55F;
    text-decoration: none;
}

.contentContainerGray {
    font-size: 16px;
    line-height: 2em;
    background-color: #F6F6F6;
    padding: 80px 0px;
    /*text-align: justify;
    text-justify: inter-word;*/
}

.contentContainerGray a {
    color: #F2A55F;
    text-decoration: none;
}

.contentContainerFlexWhite {
    font-size: 16px;
    line-height: 2em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 80px 0px;
}

.contentContainerFlexWhite a {
    color: #F2A55F;
    text-decoration: none;
}

.contentContainerFlexGray {
    font-size: 16px;
    line-height: 2em;
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    align-items: center;
    padding: 80px 0px;
}

.contentContainerFlexGray a {
    color: #F2A55F;
    text-decoration: none;
}

/*.contentRight { 
    float: right;
    display: block;
    padding: 80px 30%;
    width: 40%;
}

.contentLeft {
    float: left;
    display: block;
    padding: 80px 30%;
    width: 40%;
}*/

/*.contentboxLeft {
    padding: 80px 30%;
}

.contentboxRight {
    padding: 80px 30%;
    background-color: #F6F6F6;
}*/

.contentText {
    padding: 0px 30%;
    min-width:30%;
}

.contentTextFlexLeft {
    padding: 0px 10% 0px 15%;
    min-width:30%;
    /*width: 40%;*/
}

.contentTextFlexRight {
    padding: 0px 15% 0px 10%;
    min-width:30%;
    /*width: 40%;*/
}

.contentImageFlexLeft {
    /*max-width: 20%;*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px 0px 0px 15%;
    min-width: 400px;
}

.contentImageFlexRight {
    /*max-width: 20%;*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px 15% 0px 0px;
    min-width: 400px;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #4F4645;
    color: White;
}

.footer a {
    color: #F2A55F;
    text-decoration: none;
}

#footerTitle {
    font-weight: bold;
    font-size: 20px;
    color: White;
}

.footerContent {
    display: inline;
    padding: 20px;
    color: White;
}

.smallInputText {
    margin: 0px;
    padding: 8px;
    font-size: 16px;
    line-height: 2em;
    /*border: 2px solid #4F4645;*/
    border: 1px solid #B39E9C;
    /*border: 2px solid #E6E6E6;*/
    resize: none;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.smallInputText:focus {
    border-color: #4F4645;
}

.largeInputText {
    margin: 0px;
    padding: 8px;
    font-size: 16px;
    line-height: 2em;
    font-family: Montserrat, Roboto, Arial, sans-serif;
    /*border: 2px solid #4F4645;*/
    border: 1px solid #B39E9C;
    /*border: 2px solid #E6E6E6;*/
    resize: none;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.largeInputText:focus {
    border-color: #4F4645;
}

.submitButton {
    margin: 0px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 2em;
    border: 2px solid #F2A55F;
    background-color: white;
    color: #F2A55F;
}

.submitButton:hover {
    background-color: #F2A55F;
    color: white;
}

.submitButton:active {
    transform: translateY(4px);
}

.imageClass {
    display: none;
}

.imageClassRight {
    width: 50%;
    float: right;
    margin: 0px 10%;
}

@media only screen and (max-width: 768px) {
    .contentContainerFlexWhite {
        flex-direction: column;
    }

    .contentContainerFlexGray {
        flex-direction: column;
    }

    .contentText {
        padding: 0px 10%;
    }

    .contentTextFlexLeft {
        padding: 0px 10%;
    }

    .contentTextFlexRight {
        padding: 0px 10%;
    }

    .contentImageFlexLeft {
        padding: 0px 10%;
        max-width: 80%;
        min-width: 50%;
    }

    .contentImageFlexRight {
        padding: 0px 10%;
        max-width: 80%;
        min-width: 50%;
    }

    .footerContent {
        display: block;
        padding: 10px;
        color: White;
    }

    h1 {
        margin: 0px;
        padding: 8px 0px;
        text-align: center;
        font-size: 48px;
        color: White;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 769px) {
    .contentText {
        padding: 0px 20%;
    }
    .contentboxLeft {
        padding: 80px 20%;
    }

    .contentboxRight {
        padding: 80px 20%;
    }

    .contentTextFlexLeft {
        padding: 0px 5% 0px 10%;
        /*width: 55%;*/
    }

    .contentTextFlexRight {
        padding: 0px 10% 0px 5%;
        /*width: 55%;*/
    }

    .contentImageFlexLeft {
        max-width: 20%;
        padding: 0px 0px 0px 10%;
    }

    .contentImageFlexRight {
        max-width: 20%;
        padding: 0px 10% 0px 0px;
    }
}