body {
    margin: 0px;
    font-family: Montserrat, Roboto, Arial, sans-serif;
    /*color: #333333;*/
    color: #4F4645;
}

/* Headings */

h1 {
    margin: 0px;
    padding: 8px 0px;
    text-align: center;
    font-size: 72px;
    color: White;
}

h2 {
    margin: 0px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 36px;
    color: #4F4645;
}

h3 {
    color: #4F4645;
}

h4 {
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-size: 32px;
    color: White;
    font-weight: 300;
}

#navbar {
    overflow: hidden;
    background-color: White;
    position: sticky;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
}

.navbarLink a {
    float: right;
    display: block;
    color: #4F4645;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.navbarLink a:hover {
    background-color: #F2A55F;
    color: White;
}

.stickyTop {
    position: fixed;
    top: 0;
    width: 100%;
}

.stickyBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logo {
    float: left;
    padding: 20px;
    color: #F2A55F;
    font-weight: bold;
}

#logo a {
    color: #F2A55F;
    text-decoration: none;
}

#pagetopview {
    height: 90vh;
    background-image: url("Media/wings.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#maintitle {
    padding: 0px 0px 40vh 0px;
}

.separationBanner {
    margin: 40px 0px 0px 0px;
    border-bottom-style: solid;
    border-width: 4px;
    border-color: #F2A55F;
}

#mainBody {
    background-color: White;
}

.contentContainer {
    font-size: 16px;
    line-height: 2em;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    text-align: justify;
    text-justify: inter-word;
}

.contentContainer a {
    color: #F2A55F;
    text-decoration: none;
}

.contentRight { 
    float: right;
    display: block;
    padding: 80px 5%;
    width: 40%;
}

.contentLeft {
    float: left;
    display: block;
    padding: 80px 5%;
    width: 40%;
}

.contentboxLeft {
    padding: 80px 55% 80px 5%;
}

.contentboxRight {
    padding: 80px 5% 80px 55%;
}

.contentImageLeft {
    /*float: left;*/
    max-width: 30%;
    /*max-height: 400px;*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: inline-block;
    padding: 80px 0px;
}

.contentImageRight {
    float: right;
    max-width: 50%;
    /*max-height: 400px;*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: block;
    padding: 80px 0px;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #4F4645;
    color: White;
}

.footer a {
    color: #F2A55F;
    text-decoration: none;
}

#footerTitle {
    font-weight: bold;
    font-size: 20px;
    color: White;
}

.footerContent {
    display: inline;
    padding: 20px;
    color: White;
}

.smallInputText {
    margin: 0px;
    padding: 8px;
    font-size: 16px;
    line-height: 2em;
    /*border: 2px solid #4F4645;*/
    border: 1px solid #B39E9C;
    /*border: 2px solid #E6E6E6;*/
    resize: none;
    width: 80%;
    overflow: none;
    box-sizing: border-box;
}

.smallInputText:focus {
    border-color: #4F4645;
}

.largeInputText {
    margin: 0px;
    padding: 8px;
    font-size: 16px;
    line-height: 2em;
    font-family: Montserrat, Roboto, Arial, sans-serif;
    /*border: 2px solid #4F4645;*/
    border: 1px solid #B39E9C;
    /*border: 2px solid #E6E6E6;*/
    resize: none;
    width: 80%;
    box-sizing: border-box;
    overflow: auto;
}

.largeInputText:focus {
    border-color: #4F4645;
}

.submitButton {
    margin: 0px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 2em;
    border: 2px solid #F2A55F;
    background-color: white;
    color: #F2A55F;
}

.submitButton:hover {
    background-color: #F2A55F;
    color: white;
}

.submitButton:active {
    transform: translateY(4px);
}

.imageClass {
    display: none;
}

@media only screen and (max-width: 768px) {
    .contentboxLeft {
        padding: 80px 10%;
    }

    .contentboxRight {
        padding: 80px 10%;
    }

    .footerContent {
        display: block;
        padding: 10px;
        color: White;
    }

    h1 {
        margin: 0px;
        padding: 8px 0px;
        text-align: center;
        font-size: 48px;
        color: White;
    }

    .imageClass {
        display: block;
        padding: 0px 10% 80px 10%;
        max-width: 80%;
        height: auto;
    }
}