body {
    margin: 0px;
    font-family: Montserrat, Roboto, Arial, sans-serif;
    color: #333333;
}

/* Headings */

h1 {
    margin: 0px;
    padding: 8px 0px;
    text-align: center;
    font-size: 72px;
    color: White;
}

h2 {
    margin: 0px;
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 36px;
    color: #333333;
}

h3 {
    color: #333333;
}

h4 {
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-size: 32px;
    color: White;
    font-weight: 300;
}

#navbar {
    overflow: hidden;
    background-color: White;
    position: sticky;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
}

#navbar a {
    float: left;
    display: block;
    color: #333333;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #F2A55F;
    color: White;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    position: absolute;
    right: 0px;
    padding: 20px;
    color: #F2A55F;
    font-weight: bold;
}

#pagetopview {
    height: 90vh;
    background-image: url("Media/wings.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#maintitle {
    padding: 0px 0px 40vh 0px;
}

.separationBanner {
    padding: 5vh 0px;
    background-color: #1B1B1B;
}

#mainBody {
    background-color: White;
}

.contentboxLeft {
    padding: 160px 50% 160px 160px;
    font-size: 16px;
    line-height: 2em;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
}

.contentboxLeft a {
    color: #F2A55F;
}

.contentboxRight {
    padding: 160px 160px 160px 50%;
    font-size: 16px;
    line-height: 2em;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    
    /* Black background colour*/
    /*background-color: #005090;*/
}

.contentboxRight a {
    color: #F2A55F;
}

.footer {
    padding: 20px;
    text-align: center;
    
    /* Black background colour*/
    background-color: #333333;
}

.footer a {
    color: #F2A55F;
}

#footerTitle {
    font-weight: bold;
    font-size: 20px;
}

.footerContent {
    display: inline;
    padding: 20px;
}